.style_box{
    width: 100%;
    padding-bottom: 45px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    &_wrapper{
 
        width: 250px;
        overflow: hidden;
        margin-top: 22px;

        h2{
            font-size: 27px;
            padding: 4px 10px;
            border-radius: 15px;
            color: var(--color-main);
            border-bottom: 4px solid var(--color-main);
        }

        ul {
            list-style-type: none;
        overflow: hidden;
            li{
                font-size: 19px;
                color: var(--color-main);
                display: flex;
                align-items: center;
                line-height: 40px;

                svg{
                    font-size: 26px;
                    margin-right: 8px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .style_box{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        &_wrapper{
          
            width: 100%;
            padding:0 10px;
            overflow: hidden;
            margin-top: 22px;
    
            h2{
                font-size: 27px;
                padding: 4px 10px;
                border-radius: 15px;
                color: var(--color-main);
                border-bottom: 4px solid var(--color-main);
            }
    
            ul {
                list-style-type: none;
            overflow: hidden;
                li{
                    font-size: 19px;
                    color: var(--color-main);
                    display: flex;
                    align-items: center;
                    line-height: 40px;
    
                    svg{
                        font-size: 26px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    
}