    #home::-webkit-scrollbar{
        display: none;
    }
.home{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
   

    &.active{
    height:43%;
    margin-bottom: 10px;

    }

    &_text-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;

        h1{
            color: var(--color-main);
            font-weight: 500;
            font-size: 9rem;
            text-align: center;
            line-height: 10rem;
            overflow: hidden;
            white-space: nowrap;
            animation: typeEffect 2.5s steps(30,end);
        }
    }
    
    &_contact-me{
        display: flex;
        justify-content: center;
        align-items:center;


        a{
            cursor: pointer;
            padding: 10px 50px;
            margin: 10px 20px;
            font-size: 2rem;
            background-color: transparent;
            border: 1.5px solid var(--color-main);
            color:  var(--color-main);
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items:center;
            text-decoration: none;

            svg{
                font-size: 25px;
                margin-left: 5px;
            }
            &:hover{
                background-color: var(--color-main);
                color: #000;
            }

            img{
                display: none;
            }
          
        }

        &_box{
            width: 180px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 15px;
            &_link{
                width: 180px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                svg{
                    font-size: 32px;
                    color:  var(--color-main);
                    cursor: pointer;
    
                }
    
            }
            &_eye{
                // width: 60px;
                padding: 4px;
                height:30px;
                font-size: 25px;
                display: flex;
                border-radius: 12px;
                align-items: center;
                background-color: var(--color-main);

                svg{
                    margin-right: 7px;
                }
            }
        }

        
    }

 
}

@keyframes typeEffect {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@media only screen and (min-width: 650px){
    .home_contact-me_link{
        width: 190px;
        height: 40px;
        display: flex;
        align-items: center;

        justify-content: space-between;
        margin-top: 15px;
        svg{
            font-size:28px;
            color:  var(--color-main);
            cursor: pointer;
        }
    }
}


@media only screen and (max-width: 550px){
    .home_text-wrapper > h1{
        font-size: 5rem;
        line-height: 5rem;
    }

}

@media only screen and (min-width: 551px) and (max-width: 768px){
    .home_text-wrapper h1{
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px){
    .home_text-wrapper h1{
        font-size: 6rem;
        line-height: 8rem;
    }
}

@media only screen and (max-width: 450px){
    .home_text-wrapper h1{
        font-size: 3rem;
        line-height: 5rem;
    }
    .home_contact-me{
        button{
            cursor: pointer;
            padding: 0;
            height: 20px;
            margin: 10px 10px;
            font-size: 1rem;
            background-color: transparent;
            border: 1.5px solid var(--color-main);
            color:  var(--color-main);
            font-weight: 500;

            &:hover{
                background-color: var(--color-main);
                color: #000;
            }
        }

            a{
                cursor: pointer;
                padding: 0 8px;
                height: 35px;
                margin: 10px 10px;
                font-size: 1.6rem;
                background-color: transparent;
                border: 1.5px solid var(--color-main);
                color:  var(--color-main);
                font-weight: 500;
                text-decoration: none;
                &:hover{
                    background-color: var(--color-main);
                    color: #000;
                }
    
                img{
                    display: none;
                }
              
            }
    
            &_box{
                width: 160px;

                height: 70px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                margin-top: 15px;
                &_link{
                    width: 160px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
        
                    svg{
                        font-size: 28px;
                        color:  var(--color-main);
                        cursor: pointer;
        
                    }
        
                }
                &_eye{
                    // width: 60px;
                    padding: 4px;
                    height:23px;
                    font-size: 19px;
                    display: flex;
                    border-radius: 12px;
                    align-items: center;
                    background-color: var(--color-main);
    
                    svg{
                        margin-right: 7px;
                    }
                }
            }
    
            
        
    }
   
}